# Spark API

[Lesson Diagram](https://codeupclassroom.github.io/florence-spark-exercises/)

In [1]:
import pydataset
import pyspark

In [12]:
# all of the stuff we will do will be in .sql as seen below
spark = pyspark.sql.SparkSession.builder.getOrCreate()
# any pandas dataframe can be given to spark for a spark dataframe
df = spark.createDataFrame(pydataset.data('tips'))

## Dataframe Basics

- Creating Dataframes
- Viewing dataframe contents
- Selecting Columns
- Creating Columns

In [4]:
# spark df, but no contents are visible. spark is lazy. df won't be pulled until we tell it to. .show
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [7]:
# 20 columns by default
# reassignment will be nothing with the .show function. careful about reassigning
# .show is just an overview
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [8]:
# python list of row objects
df.head(5)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

In [9]:
[row.time for row in df.head(5)]

['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner']

In [11]:
# you will only get the first row. a number needs to be passed to get more than just the first number
# generally speaking .show most often used. .head will allow you to work with the values programmatically because it will give you the contents in a python variable
df.head()

Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)

In [13]:
# selecting a subset of the columns
# dont forget .show to actually view
df.select('tip', 'total_bill').show(5)

+----+----------+
| tip|total_bill|
+----+----------+
|1.01|     16.99|
|1.66|     10.34|
| 3.5|     21.01|
|3.31|     23.68|
|3.61|     24.59|
+----+----------+
only showing top 5 rows

In [14]:
# in pandas you would get a series of values.
# in spark this represents a transformation to the dataframe. 
# in spark a column NEEDS to exist in a dataframe. it cannot exist by itself
df.total_bill

Column<'total_bill'>

In [19]:
# .alias will rename a column
df.select('tip', df.total_bill.alias('bill_amount')).show(5)

+----+-----------+
| tip|bill_amount|
+----+-----------+
|1.01|      16.99|
|1.66|      10.34|
| 3.5|      21.01|
|3.31|      23.68|
|3.61|      24.59|
+----+-----------+
only showing top 5 rows

In [22]:
# creating a new column by itself.
# this is a dataframe all in itself. no work to original df has been done
df.select(df.tip/df.total_bill.alias('tip_percentage')).show(5)

+------------------------------------+
|(tip / total_bill AS tip_percentage)|
+------------------------------------+
|                 0.05944673337257211|
|                 0.16054158607350097|
|                 0.16658733936220846|
|                  0.1397804054054054|
|                 0.14680764538430255|
+------------------------------------+
only showing top 5 rows

In [23]:
# the .show is what will create a nonetype. This is what we need to be careful of when reassigning

# THIS IS A LOT FOR ONE SELECT STATEMENT. INSTEAD ASSIGN A VARIABLE AND THEN USE

df.select('tip', 'total_bill', (df.tip / df.total_bill).alias('tip_percentage')).show(5)

+----+----------+-------------------+
| tip|total_bill|     tip_percentage|
+----+----------+-------------------+
|1.01|     16.99|0.05944673337257211|
|1.66|     10.34|0.16054158607350097|
| 3.5|     21.01|0.16658733936220846|
|3.31|     23.68| 0.1397804054054054|
|3.61|     24.59|0.14680764538430255|
+----+----------+-------------------+
only showing top 5 rows

In [25]:
tip_percentage = (df.tip / df.total_bill).alias('tip_percentage')
df3 = df.select('tip', 'total_bill', tip_percentage)
df.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [28]:
# * performs in spark like in SQL. selects all, and then using the variable created to add onto varible
df.select('*', tip_percentage).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [30]:
# writing SQL code 
# spark can still read and apply SQL code
df.selectExpr('total_bill as bill_amount', 'tip / total_bill as tip_percentage').show(5)

+-----------+-------------------+
|bill_amount|     tip_percentage|
+-----------+-------------------+
|      16.99|0.05944673337257211|
|      10.34|0.16054158607350097|
|      21.01|0.16658733936220846|
|      23.68| 0.1397804054054054|
|      24.59|0.14680764538430255|
+-----------+-------------------+
only showing top 5 rows

In [9]:
df2 = df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [11]:
type(df2)

NoneType

In [16]:
df.head()

Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)

In [13]:
[row.time for row in df.head(5)]

['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner']

In [18]:
df.select('tip', 'total_bill').show(5)

+----+----------+
| tip|total_bill|
+----+----------+
|1.01|     16.99|
|1.66|     10.34|
| 3.5|     21.01|
|3.31|     23.68|
|3.61|     24.59|
+----+----------+
only showing top 5 rows

In [19]:
df.total_bill

Column<'total_bill'>

In [34]:
# DONT DO THIS
# df = df.select('tip', df.total_bill.alias('bill_amount')).show(5)

+----+-----------+
| tip|bill_amount|
+----+-----------+
|1.01|      16.99|
|1.66|      10.34|
| 3.5|      21.01|
|3.31|      23.68|
|3.61|      24.59|
+----+-----------+
only showing top 5 rows

In [35]:
df.select('tip').show()

AttributeError: 'NoneType' object has no attribute 'select'

In [37]:
tip_percentage = (df.tip / df.total_bill).alias('tip_percentage')
df3 = df.select('tip', 'total_bill', tip_percentage)
df3.show(5)

+----+----------+-------------------+
| tip|total_bill|     tip_percentage|
+----+----------+-------------------+
|1.01|     16.99|0.05944673337257211|
|1.66|     10.34|0.16054158607350097|
| 3.5|     21.01|0.16658733936220846|
|3.31|     23.68| 0.1397804054054054|
|3.61|     24.59|0.14680764538430255|
+----+----------+-------------------+
only showing top 5 rows

In [32]:
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [33]:
df3

DataFrame[tip: double, total_bill: double, tip_percentage: double]

In [40]:
df.select('*', tip_percentage).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [42]:
df.selectExpr('total_bill as bill_amount', 'tip / total_bill as tip_percentage').show(5)

+-----------+-------------------+
|bill_amount|     tip_percentage|
+-----------+-------------------+
|      16.99|0.05944673337257211|
|      10.34|0.16054158607350097|
|      21.01|0.16658733936220846|
|      23.68| 0.1397804054054054|
|      24.59|0.14680764538430255|
+-----------+-------------------+
only showing top 5 rows

## START OF MINI EXERCISES

In [68]:
import numpy as np
import pandas as pd

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

df = spark.createDataFrame(pandas_dataframe)

In [64]:
df = df.selectExpr('n', 'n * -1 as n2', 'n * n as n3')

In [65]:
df

DataFrame[n: double, n2: double, n3: double]

In [58]:
df.group + df.abool

Column<'(group + abool)'>

In [66]:
df.select?

In [31]:
# spark is running on java virtual machine, cannot add with the '+' like in python

# error only happens when inside of the select. contextualizes and tries to find datatypes before action is done.
df.select(df.group + df.abool)

AttributeError: 'DataFrame' object has no attribute 'group'

In [61]:
df.select(df.group.cast('double')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

## Transforming Columns

- Built-in Functions
- Changing Datatypes
- String Manipulation
- When, Otherwise

In [32]:
df = spark.createDataFrame(pydataset.data('tips'))

In [75]:
df.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [77]:
sum([1, 2, 3])

6

In [85]:
from pyspark.sql.functions import sum

In [86]:
df.select(sum(df.total_bill)).show()

+---------------+
|sum(total_bill)|
+---------------+
|        4827.77|
+---------------+

In [89]:
from builtins import sum

In [90]:
sum([1, 2, 3])

6

In [91]:
import pyspark.sql.functions as F

In [92]:
df.select(F.sum('total_bill'), F.mean('tip')).show(5)

+---------------+----------------+
|sum(total_bill)|        avg(tip)|
+---------------+----------------+
|        4827.77|2.99827868852459|
+---------------+----------------+

In [95]:
from pyspark.sql.functions import *

In [106]:
df.select(
    'time',
    regexp_extract('time', r'^(...)', 1).alias('first_3'),
    'total_bill',
    concat(lit('the total bill is '), 'total_bill').alias('bill_message')
).show(5, truncate=False)

+------+-------+----------+-----------------------+
|time  |first_3|total_bill|bill_message           |
+------+-------+----------+-----------------------+
|Dinner|Din    |16.99     |the total bill is 16.99|
|Dinner|Din    |10.34     |the total bill is 10.34|
|Dinner|Din    |21.01     |the total bill is 21.01|
|Dinner|Din    |23.68     |the total bill is 23.68|
|Dinner|Din    |24.59     |the total bill is 24.59|
+------+-------+----------+-----------------------+
only showing top 5 rows

In [109]:
df.select('tip', df.tip.cast('int')).show(5)

+----+---+
| tip|tip|
+----+---+
|1.01|  1|
|1.66|  1|
| 3.5|  3|
|3.31|  3|
|3.61|  3|
+----+---+
only showing top 5 rows

Common Types:

- int: integers
- double: decimal numbers
- booleans
- strings

[See the spark docs for more.](https://spark.apache.org/docs/latest/sql-ref-datatypes.html)

In [110]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [118]:
bill_description = (
    when(df.total_bill < 20, 'small bill')
    .when(df.total_bill < 30, 'medium_bill')
    .otherwise('large bill')
    .alias('bill_desc')
)
print('type of bill_description', type(bill_description))
df.select(
    'total_bill',
    bill_description,
).show()

type of bill_description <class 'pyspark.sql.column.Column'>
+----------+-----------+
|total_bill|  bill_desc|
+----------+-----------+
|     16.99| small bill|
|     10.34| small bill|
|     21.01|medium_bill|
|     23.68|medium_bill|
|     24.59|medium_bill|
|     25.29|medium_bill|
|      8.77| small bill|
|     26.88|medium_bill|
|     15.04| small bill|
|     14.78| small bill|
|     10.27| small bill|
|     35.26| large bill|
|     15.42| small bill|
|     18.43| small bill|
|     14.83| small bill|
|     21.58|medium_bill|
|     10.33| small bill|
|     16.29| small bill|
|     16.97| small bill|
|     20.65|medium_bill|
+----------+-----------+
only showing top 20 rows

In [122]:
bill_description = '''
CASE
    WHEN total_bill < 20 THEN 'small bill'
    WHEN total_bill < 30 THEN 'medium bill'
    ELSE 'large bill'
END AS bill_description
'''

df.selectExpr('total_bill', bill_description).show()

+----------+----------------+
|total_bill|bill_description|
+----------+----------------+
|     16.99|      small bill|
|     10.34|      small bill|
|     21.01|     medium bill|
|     23.68|     medium bill|
|     24.59|     medium bill|
|     25.29|     medium bill|
|      8.77|      small bill|
|     26.88|     medium bill|
|     15.04|      small bill|
|     14.78|      small bill|
|     10.27|      small bill|
|     35.26|      large bill|
|     15.42|      small bill|
|     18.43|      small bill|
|     14.83|      small bill|
|     21.58|     medium bill|
|     10.33|      small bill|
|     16.29|      small bill|
|     16.97|      small bill|
|     20.65|     medium bill|
+----------+----------------+
only showing top 20 rows

In [123]:
df.select(min(df.tip)).show()

+--------+
|min(tip)|
+--------+
|     1.0|
+--------+

## Sorting and Filtering

In [132]:
df.where(df.tip > 7).sort('size', df.total_bill.desc()).show()

+----------+----+----+------+---+------+----+
|total_bill| tip| sex|smoker|day|  time|size|
+----------+----+----+------+---+------+----+
|     50.81|10.0|Male|   Yes|Sat|Dinner|   3|
|     48.33| 9.0|Male|    No|Sat|Dinner|   4|
|     39.42|7.58|Male|    No|Sat|Dinner|   4|
+----------+----+----+------+---+------+----+

In [130]:
df.time == "Dinner"

Column<'(time = Dinner)'>

In [133]:
df.filter((df.time == "Dinner") & (df.day == "Sat")).show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
|     17.92|4.08|  Male|    No|Sat|Dinner|   2|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|
|     39.42|7.58|  Male|    No|Sat|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [134]:
df.orderBy(col('tip').desc()).show(5)

+----------+----+----+------+----+------+----+
|total_bill| tip| sex|smoker| day|  time|size|
+----------+----+----+------+----+------+----+
|     50.81|10.0|Male|   Yes| Sat|Dinner|   3|
|     48.33| 9.0|Male|    No| Sat|Dinner|   4|
|     39.42|7.58|Male|    No| Sat|Dinner|   4|
|     48.27|6.73|Male|    No| Sat|Dinner|   4|
|      34.3| 6.7|Male|    No|Thur| Lunch|   6|
+----------+----+----+------+----+------+----+
only showing top 5 rows

## Aggregating

- group by
- crosstab + pivot

In [137]:
df.groupBy('day').agg(mean('tip').alias('avg_tip'), max('total_bill'), min('total_bill')).show()

+----+------------------+---------------+---------------+
| day|           avg_tip|max(total_bill)|min(total_bill)|
+----+------------------+---------------+---------------+
| Sun|3.2551315789473683|          48.17|           7.25|
| Sat| 2.993103448275862|          50.81|           3.07|
|Thur| 2.771451612903226|          43.11|           7.51|
| Fri| 2.734736842105263|          40.17|           5.75|
+----+------------------+---------------+---------------+

In [138]:
df.groupby('sex', 'day', 'smoker').agg(mean('tip')).show()

+------+----+------+------------------+
|   sex| day|smoker|          avg(tip)|
+------+----+------+------------------+
|  Male| Sun|    No|3.1153488372093023|
|Female| Sun|    No| 3.329285714285714|
|  Male| Sat|    No|3.2565625000000002|
|Female| Sat|    No| 2.724615384615385|
|  Male| Sat|   Yes| 2.879259259259259|
|Female| Sat|   Yes| 2.868666666666667|
|Female| Fri|   Yes| 2.682857142857143|
|  Male|Thur|    No|            2.9415|
|  Male|Thur|   Yes|             3.058|
|  Male| Fri|   Yes|           2.74125|
|Female| Fri|    No|             3.125|
|Female|Thur|    No|            2.4596|
|  Male| Fri|    No|               2.5|
|Female| Sun|   Yes|               3.5|
|Female|Thur|   Yes|2.9899999999999998|
|  Male| Sun|   Yes| 3.521333333333333|
+------+----+------+------------------+

In [140]:
df.groupby('day').pivot('time').agg(mean('tip')).show()

+----+------------------+------------------+
| day|            Dinner|             Lunch|
+----+------------------+------------------+
|Thur|               3.0|2.7677049180327873|
| Sun|3.2551315789473683|              null|
| Sat| 2.993103448275862|              null|
| Fri|              2.94| 2.382857142857143|
+----+------------------+------------------+

In [141]:
df.crosstab('day', 'time').show()

+--------+------+-----+
|day_time|Dinner|Lunch|
+--------+------+-----+
|     Sat|    87|    0|
|     Sun|    76|    0|
|     Fri|    12|    7|
|    Thur|     1|   61|
+--------+------+-----+

## Additional Features

- `.explain`
- spark sql
- missing values

### Explaining Dataframes

In [142]:
df.explain()

== Physical Plan ==
*(1) Scan ExistingRDD[total_bill#1141,tip#1142,sex#1143,smoker#1144,day#1145,time#1146,size#1147L]

In [144]:
df.selectExpr('*', 'tip / total_bill as tip_percent').explain()

== Physical Plan ==
*(1) Project [total_bill#1141, tip#1142, sex#1143, smoker#1144, day#1145, time#1146, size#1147L, (tip#1142 / total_bill#1141) AS tip_percent#2124]
+- *(1) Scan ExistingRDD[total_bill#1141,tip#1142,sex#1143,smoker#1144,day#1145,time#1146,size#1147L]

In [147]:
df.filter(df.time == 'Lunch').selectExpr('tip', 'total_bill', 'tip / total_bill as tip_perc').explain()

== Physical Plan ==
*(1) Project [tip#1142, total_bill#1141, (tip#1142 / total_bill#1141) AS tip_perc#2142]
+- *(1) Filter (isnotnull(time#1146) AND (time#1146 = Lunch))
   +- *(1) Scan ExistingRDD[total_bill#1141,tip#1142,sex#1143,smoker#1144,day#1145,time#1146,size#1147L]

In [148]:
df.selectExpr('tip', 'total_bill', 'tip / total_bill as tip_perc').filter(df.time == 'Lunch').explain()

== Physical Plan ==
*(1) Project [tip#1142, total_bill#1141, (tip#1142 / total_bill#1141) AS tip_perc#2146]
+- *(1) Filter (isnotnull(time#1146) AND (time#1146 = Lunch))
   +- *(1) Scan ExistingRDD[total_bill#1141,tip#1142,sex#1143,smoker#1144,day#1145,time#1146,size#1147L]

### Null Values

In [149]:
df.groupby('day').pivot('time').agg(mean('tip')).show()

+----+------------------+------------------+
| day|            Dinner|             Lunch|
+----+------------------+------------------+
|Thur|               3.0|2.7677049180327873|
| Sun|3.2551315789473683|              null|
| Sat| 2.993103448275862|              null|
| Fri|              2.94| 2.382857142857143|
+----+------------------+------------------+

In [150]:
df.groupby('day').pivot('time').agg(mean('tip')).na.drop().show()

+----+------+------------------+
| day|Dinner|             Lunch|
+----+------+------------------+
|Thur|   3.0|2.7677049180327873|
| Fri|  2.94| 2.382857142857143|
+----+------+------------------+

In [151]:
df.groupby('day').pivot('time').agg(mean('tip')).na.drop(subset=['Dinner']).show()

+----+------------------+------------------+
| day|            Dinner|             Lunch|
+----+------------------+------------------+
|Thur|               3.0|2.7677049180327873|
| Sun|3.2551315789473683|              null|
| Sat| 2.993103448275862|              null|
| Fri|              2.94| 2.382857142857143|
+----+------------------+------------------+

In [153]:
df.groupby('day').pivot('time').agg(mean('tip')).na.fill(0, subset=['Lunch']).show()

+----+------------------+------------------+
| day|            Dinner|             Lunch|
+----+------------------+------------------+
|Thur|               3.0|2.7677049180327873|
| Sun|3.2551315789473683|               0.0|
| Sat| 2.993103448275862|               0.0|
| Fri|              2.94| 2.382857142857143|
+----+------------------+------------------+

### Spark SQL

In [154]:
df.createOrReplaceTempView('tips')

In [157]:
spark.sql('SELECT * FROM tips').sort('total_bill').show(5)

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2|
+----------+----+------+------+----+------+----+
only showing top 5 rows

In [159]:
spark.sql('''
SELECT day, tip / total_bill as tip_percentage
FROM (
    SELECT day, avg(total_bill) as total_bill, avg(tip) as tip
    FROM tips
    GROUP BY day
) t
''').show()

+----+-------------------+
| day|     tip_percentage|
+----+-------------------+
| Sun| 0.1520379065365422|
| Sat|0.14642375168690958|
|Thur|0.15673200587414376|
| Fri|0.15944519455014117|
+----+-------------------+